<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.minichat.group.mapper.ChatGroupMapper">

    <update id="update">
        UPDATE chat_group
        <set>
            <if test="groupName != null">group_name = #{groupName},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="announcement != null">announcement = #{announcement},</if>
            <if test="maxMembers != null">max_members = #{maxMembers},</if>
            <if test="joinPolicy != null">join_policy = #{joinPolicy},</if>
            <if test="invitePolicy != null">invite_policy = #{invitePolicy},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </set>
        WHERE id = #{id} AND is_deleted = 0
    </update>

    <select id="searchGroups" resultType="com.minichat.group.vo.GroupSearchVO">
        SELECT
            id,
            group_name AS groupName,
            avatar,
            announcement,
            member_count AS memberCount,
            max_members AS maxMembers,
            join_policy AS joinPolicy
        FROM
            chat_group
        WHERE
            is_deleted = 0
            AND (group_name LIKE concat('%', #{keyword}, '%') OR announcement LIKE concat('%', #{keyword}, '%'))
    </select>
</mapper>
