<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.minichat.chat.mapper.GroupMessageMapper">

    <delete id="deleteBatch">
        delete from group_message where id in
        <foreach collection="recallGroupMessageIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="selectLastMessageBatch" resultType="com.minichat.chat.entity.GroupMessage">
        SELECT gm.*
        FROM group_message gm
        INNER JOIN (
        SELECT MAX(id) as max_id
        FROM group_message
        WHERE group_id IN
        <foreach collection="groupIds" item="id" open="(" separator="," close=")">#{id}</foreach>
        AND is_recall = 0
        GROUP BY group_id
        ) t ON gm.id = t.max_id
    </select>
</mapper>
