<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.minichat.chat.mapper.PrivateMessageMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into private_message (sender_id, receiver_id, message_type, content, file_url, file_name, file_size
        , is_read, is_recall, send_time)
        values (#{senderId}, #{receiverId}, #{messageType}, #{content}, #{fileUrl}, #{fileName}, #{fileSize}, #{isRead}, #{isRecall}, #{sendTime})
    </insert>

    <update id="updateIsRead">
        UPDATE private_message
        SET is_read = 1, read_time = NOW()
        WHERE
            (sender_id = #{receiverId} AND receiver_id = #{currentUserId})
          AND is_read = 0
    </update>
    <delete id="deleteBatch">
        delete from private_message where id in
        <foreach collection="recallPrivateMessageIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="selectUnreadCountBatch" resultType="com.minichat.chat.dto.MessageUnreadCountDTO">
        SELECT sender_id as friendId, COUNT(*) as count FROM private_message
        WHERE receiver_id = #{currentUserId} AND is_read = 0 AND is_recall = 0
        AND sender_id IN
        <foreach collection='friendIds' item='id' open='(' separator=',' close=')'>#{id}</foreach>
        GROUP BY sender_id
    </select>

    <select id="selectLastMessageBatch" resultType="com.minichat.chat.entity.PrivateMessage">
        SELECT m.*
        FROM private_message m
        WHERE m.id IN (
            SELECT MAX(id) FROM (
                SELECT MAX(id) as id, receiver_id as friend_id
                FROM private_message
                WHERE sender_id = #{currentUserId}
                AND receiver_id IN <foreach collection="friendIds" item="id" open="(" separator="," close=")">#{id}</foreach>
                AND is_recall = 0
                GROUP BY receiver_id

                UNION ALL

                SELECT MAX(id) as id, sender_id as friend_id
                FROM private_message
                WHERE receiver_id = #{currentUserId}
                AND sender_id IN <foreach collection="friendIds" item="id" open="(" separator="," close=")">#{id}</foreach>
                AND is_recall = 0
                GROUP BY sender_id
            ) t GROUP BY friend_id
        )
    </select>

</mapper>
